:root {
    --feedback-title-color: hsl(300, 43%, 22%);
    --verified-color: hsl(333, 80%, 67%);
    --text-color: hsl(303, 10%, 53%);
    --background-ratings: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}